.DS_Store
input/
14M01888/
14M02709/
.snakemake/
output/
utils/.ipynb_checkpoints
utils/.ipynb_checkpoints/*
*.pyc
__pycache__
15M01266/
15M06222/
15M06223/
ffDNA28/
development_local.yaml
*.fastq.gz
*.variables
